<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Stock Analysis Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <div class="grid">
      <h1>Stock Analysis</h1>
      <div class="graph-container">
        {% for graph in graphs %}
        <div class="box">
          <h2>{{ graph.title }}</h2>
          <img src="{{ url_for('static', filename=graph.filename) }}" alt="{{ graph.title }} Stock predictions" class="stock-predictions">
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>